<html ng-app="dogApp">
	<head>
		<base href="/">
		<meta charset="utf8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>測單身狗</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/components/ng-directive-lazy-image/release/lazy-image-style.min.css">
	</head>
	<body>
		<div ui-view>
			
		</div>
		<script>
	    	var data = <%- JSON.stringify(data) %>;
	    </script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	    <script src="/components/angular/angular.min.js"></script>
	    <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>	
	    <script src="/components/angular-animate/angular-animate.min.js"></script>
	    <script src="/components/ng-directive-lazy-image/release/lazy-image.js"></script>	
	    <script src="/js/app.js"></script>	
	    
	</body>
</html>